<section class="bg-custome w-50 mx-auto my-5 shadow p-3 my-2 rounded-4">
  <h1 class="h2 text-main text-decoration-underline">
    the order now cash payment:
  </h1>
  <form [formGroup]="cashOrderForm" (ngSubmit)="cashOrderFunc()">
    <div class="my-2">
      <label for="details">details</label>
      <input
        [ngClass]="{ 
            'is-valid':!cashOrderForm.get('details')?.errors && (cashOrderForm.get('details')?.touched ||
            cashOrderForm.get('details')?.dirty),
            'is-invalid':cashOrderForm.get('details')?.errors && (cashOrderForm.get('details')?.touched ||
            cashOrderForm.get('details')?.dirty),
         }"
        id="details"
        type="text"
        class="form-control"
        formControlName="details"
      />
      @if (cashOrderForm.get('details')?.errors &&
      (cashOrderForm.get('details')?.touched
      ||cashOrderForm.get('details')?.dirty)) {
      <div class="alert alert-danger">
        @if (cashOrderForm.get('details')?.getError('required')) {
        <p class="m-0">details is required.</p>
        }
      </div>
      }
    </div>
    <div class="my-2">
      <label for="phone">phone</label>
      <input
        [ngClass]="{ 
            'is-valid':!cashOrderForm.get('phone')?.errors && (cashOrderForm.get('phone')?.touched ||
            cashOrderForm.get('phone')?.dirty),
            'is-invalid':cashOrderForm.get('phone')?.errors && (cashOrderForm.get('phone')?.touched ||
            cashOrderForm.get('phone')?.dirty),
         }"
        id="phone"
        type="tel"
        class="form-control"
        formControlName="phone"
      />
      @if (cashOrderForm.get('phone')?.errors &&
      (cashOrderForm.get('phone')?.touched
      ||cashOrderForm.get('phone')?.dirty)){
      <div class="alert alert-danger">
        @if (cashOrderForm.get('phone')?.getError('required')) {
        <p class="m-0">phone is required.</p>
        } @else if (cashOrderForm.get('phone')?.getError('pattern')) {
        <p class="m-0">phone is required.</p>
        }
      </div>
      }
    </div>
    <div class="my-2">
      <label for="city">city</label>
      <input
        [ngClass]="{ 
            'is-valid':!cashOrderForm.get('city')?.errors && (cashOrderForm.get('city')?.touched ||
            cashOrderForm.get('city')?.dirty),
            'is-invalid':cashOrderForm.get('city')?.errors && (cashOrderForm.get('city')?.touched ||
            cashOrderForm.get('city')?.dirty),
         }"
        id="city"
        type="text"
        class="form-control"
        formControlName="city"
      />
      @if (cashOrderForm.get('city')?.errors &&
      (cashOrderForm.get('city')?.touched ||cashOrderForm.get('city')?.dirty)) {
      <div class="alert alert-danger">
        @if (cashOrderForm.get('city')?.getError('required')) {
        <p class="m-0">city is required.</p>
        }
      </div>
      }
    </div>

    <button
      (click)="cashOrderFunc()"
      class="btn-main ms-auto d-block"
      type="submit"
    >
      order now @if (isloading) { <span class="fas fa-spin fa-spinner"></span>}
    </button>
  </form>
  @if (messgsuc) {
  <p class="text-center alert alert-success w-50 mx-auto">
    {{ messgsuc }}
  </p>
  } @if (messgerr) {
  <p class="text-center alert alert-danger w-50 mx-auto">
    {{ messgerr }}
  </p>
  }
</section>
