<div class="pt-5">
  <section class="bg-main-subtle container width-info shadow p-3 rounded-4">
    <h1 class="h2 text-main text-decoration-underline">
      {{ "reg.Register Now" | translate }}
    </h1>
    <form [formGroup]="register" (ngSubmit)="registerfunction()">
      <div class="my-2">
        <label for=" name">{{ "reg.name" | translate }}</label>
        <input
          [ngClass]="{ 
          'is-valid':!register.get('name')?.errors && (register.get('name')?.touched ||
          register.get('name')?.dirty),
          'is-invalid':register.get('name')?.errors && (register.get('name')?.touched ||
          register.get('name')?.dirty),
       }"
          id="name"
          type="text"
          class="form-control"
          formControlName="name"
        />
        @if (register.get('name')?.errors && (register.get('name')?.touched
        ||register.get('name')?.dirty)) {
        <div class="alert alert-danger">
          @if (register.get('name')?.getError('required')) {
          <p class="m-0">{{ "reg.name is required" | translate }}.</p>
          } @else if (register.get('name')?.getError('minlength')) {
          <p class="m-0">
            {{ "reg.name should be more or equal tha 3 chars" | translate }}.
          </p>
          } @else if (register.get('name')?.getError('maxlength')) {
          <p class="m-0">
            {{ "reg.name should be less or equal tha 20 chars" | translate }}.
          </p>
          }
        </div>
        }
      </div>
      <div class="my-2">
        <label for=" email">{{ "login.email" | translate }}</label>
        <input
          [ngClass]="{ 
          'is-valid':!register.get('email')?.errors && (register.get('email')?.touched ||
          register.get('email')?.dirty),
          'is-invalid':register.get('email')?.errors && (register.get('email')?.touched ||
          register.get('email')?.dirty),
       }"
          id="email"
          type="email"
          class="form-control"
          formControlName="email"
        />
        @if (register.get('email')?.errors && (register.get('email')?.touched
        ||register.get('email')?.dirty)){
        <div class="alert alert-danger">
          @if (register.get('email')?.getError('required')) {
          <p class="m-0">{{ "login.email is required" | translate }}.</p>
          } @else if (register.get('email')?.getError('email')) {
          <p class="m-0">{{ "login.enter valid email" | translate }}.</p>
          }
        </div>
        }
      </div>
      <div class="my-2">
        <label for=" password">{{ "login.password" | translate }}</label>
        <input
          [ngClass]="{ 
          'is-valid':!register.get('password')?.errors && (register.get('password')?.touched ||
          register.get('password')?.dirty),
          'is-invalid':register.get('password')?.errors && (register.get('password')?.touched ||
          register.get('password')?.dirty),
       }"
          id="password"
          type="password"
          class="form-control"
          formControlName="password"
        />
        @if (register.get('password')?.errors &&
        (register.get('password')?.touched ||register.get('password')?.dirty)) {
        <div class="alert alert-danger">
          @if (register.get('password')?.getError('required')) {
          <p class="m-0">{{ "login.password is required" | translate }}.</p>
          } @else if (register.get('password')?.getError('pattern')) {
          <p class="m-0">{{ "login.enter valid password" | translate }}.</p>
          }
        </div>
        }
      </div>
      <div class="my-2">
        <label for=" repassword">{{ "reg.repassword" | translate }}</label>
        <input
          [ngClass]="{ 
          'is-valid':!register.getError('mismatch')  && (register.get('rePassword')?.touched ||
          register.get('rePassword')?.dirty),
          'is-invalid':register.getError('mismatch')  && (register.get('rePassword')?.touched ||
          register.get('rePassword')?.dirty),
       }"
          id="repassword"
          type="password"
          class="form-control"
          formControlName="rePassword"
        />
        @if (register.getError('mismatch') &&
        (register.get('rePassword')?.touched
        ||register.get('rePassword')?.dirty)) {
        <div class="alert alert-danger">
          <p class="m-0">
            {{ "reg.password confirmation is incorrect" | translate }} .
          </p>
        </div>
        }
      </div>
      <div class="my-2">
        <label for=" phone">{{ "reg.phone" | translate }}</label>
        <input
          [ngClass]="{ 
          'is-valid':!register.get('phone')?.errors && (register.get('phone')?.touched ||
          register.get('phone')?.dirty),
          'is-invalid':register.get('phone')?.errors && (register.get('phone')?.touched ||
          register.get('phone')?.dirty),
       }"
          id="phone"
          type="tel"
          class="form-control"
          formControlName="phone"
        />
        @if (register.get('phone')?.errors && (register.get('phone')?.touched ||
        register.get('phone')?.dirty)) {
        <div class="alert alert-danger">
          @if (register.get('phone')?.getError('required')) {
          <p class="m-0">{{ "reg.phone is required" | translate }}.</p>
          } @else if (register.get('phone')?.getError('pattern')) {
          <p class="m-0">{{ "reg.enter valid phone" | translate }}.</p>
          }
        </div>
        }
      </div>
      <button
        class="btn-main d-block"
        [class.ms-auto]="textlag()"
        [class.me-auto]="!textlag()"
        type="submit"
      >
        {{ "reg.register" | translate }} @if (isloading) {
        <span class="fas fa-spin fa-spinner"></span>}
      </button>
    </form>
    @if (messgerror) {
    <p class="text-center alert alert-danger w-100 mx-auto my-3">
      {{ messgerror }}
    </p>
    } @if (messsuccess) {
    <p class="text-center alert alert-success w-50 mx-auto my-3">
      {{ messsuccess }}
    </p>
    }
  </section>
</div>
