<section class="container w-75 mx-auto my-5 p-5">
  <h2 class="text-main text-decoration-underline mt-5">
    {{ "orders.All Orders Info" | translate }}:
  </h2>

  @for (order of alloreders; track order._id) {
  <div
    class="row product bg-main-subtle my-3 align-items-center justify-content-center pt-3 shadow"
  >
    @for (item of order.cartItems; track $index) {

    <div class="row py-2">
      <div class="col-6 col-md-2">
        <img
          src="{{ item.product.imageCover }}"
          width="100px"
          alt="{{ item.product.title }}"
        />
      </div>
      <div class="col-6 col-md-4">
        <p>{{ "orders.productName" | translate }} : {{ item.product.title }}</p>
        <p>{{ "orders.count" | translate }} : {{ item.count }}</p>
        <p>
          {{ "orders.price" | translate }} : {{ item.price }}
          {{ "cart.EGP" | translate }}
        </p>
      </div>
    </div>

    }
    <div class="row mt-3 bg-orange pt-3">
      <div class="col-6">
        <P>{{ "orders.User Email" | translate }}: {{ order.user.email }}</P>
        <P
          >{{ "orders.User order phone" | translate }}:
          {{ order.shippingAddress.phone }}</P
        >
        <P
          >{{ "orders.User city" | translate }}:
          {{ order.shippingAddress.city }}</P
        >
        <P>{{ "orders.order date" | translate }}: {{ order.paidAt | date }}</P>
      </div>
      <div class="col-6">
        <P>{{ "orders.payment status" | translate }}: {{ order.isPaid }}</P>
        <P>{{ "orders.Is Delivered" | translate }}: {{ order.isDelivered }}</P>
        <P>{{ "orders.Order Id" | translate }}: {{ order.id }}</P>
        <P
          >{{ "orders.Payment Method" | translate }} :
          {{ order.paymentMethodType }}</P
        >
        <P
          >{{ "orders.total price" | translate }} :
          {{ order.totalOrderPrice }}</P
        >
      </div>
    </div>
  </div>
  }
</section>
