@if (detailsProduct) {
<section class="container py-5 shadow my-5">
  <h1 class="text-main text-decoration-underline">details product</h1>
  <div class="row py-5 align-items-center">
    <div class="col-md-3">
      <owl-carousel-o [options]="theDetails">
        @for (theImage of detailsProduct.images; track $index ) {
        <ng-template carouselSlide>
          <div>
            <img
              class="w-100"
              height="250"
              src="{{ theImage }}"
              alt="{{ detailsProduct.title }}"
            />
          </div>
        </ng-template>
        }
      </owl-carousel-o>
    </div>
    <div class="col-md-9 py-3">
      <div class="p-2">
        <div>
          <h3 class="text-main h2">{{ detailsProduct.title }}</h3>
          <p class="h4 small text-muted">
            {{ detailsProduct.description }}
          </p>

          <h4 class="text-info-emphasis h6 mt-3">
            <b> Category Name : {{ detailsProduct.category?.name }}</b>
          </h4>
          <div class="d-flex justify-content-between align-items-center">
            <p>
              <span>Price : {{ detailsProduct.price }} EGP</span>
            </p>
            <p>
              <span><i class="fas fa-star rating-color"></i></span>
              <span>{{ detailsProduct.ratingsAverage }}</span>
            </p>
          </div>
        </div>
        <button
          (click)="add(detailsProduct._id)"
          class="btn bg-btnmain text-light cr w-100"
        >
          Add to cart
        </button>
      </div>
    </div>
  </div>
</section>
}
