<nav
  class="navbar navbar-expand-lg shadow position-fixed top-0 start-0 end-0 bg-nav z-3"
>
  <div class="container-fluid w-100">
    <a
      class="navbar-brand d-flex justify-content-center align-items-center"
      routerLink="/home"
    >
      <img
        src="./assets/images/shopping.png"
        class="rounded-circle mx-1"
        width="75px"
        alt="shopping image"
      />

      <h1>
        <b class="logo fs-3 text-orange">
          {{ "navbar.Shopping" | translate }}</b
        >
      </h1>
    </a>
    <button
      class="navbar-toggler bg-light fs-6"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      #navbarSupportedContent
      class="collapse navbar-collapse justify-content-between align-items-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav align-items-center">
        <li (click)="closeIteamModal()" class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            routerLink="/home"
            >{{ "navbar.Home" | translate }}</a
          >
        </li>
        <li (click)="closeIteamModal()" class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            routerLink="/products"
            >{{ "navbar.Products" | translate }}</a
          >
        </li>
        <li (click)="closeIteamModal()" class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            routerLink="/catergories"
            >{{ "navbar.Categories" | translate }}</a
          >
        </li>
        <li (click)="closeIteamModal()" class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            routerLink="/brands"
            >{{ "navbar.Brands" | translate }}</a
          >
        </li>
      </ul>
      <ul class="navbar-nav align-items-center">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ "navbar.Lang" | translate }}
          </a>
          <ul class="dropdown-menu">
            <li
              (click)="closeIteamModal()"
              (click)="change('en')"
              [class.logout]="_TranslateService.currentLang == 'en'"
            >
              <a class="dropdown-item cr logout">{{
                "navbar.English" | translate
              }}</a>
            </li>
            <li
              (click)="closeIteamModal()"
              (click)="change('ar')"
              [class.logout]="_TranslateService.currentLang == 'ar'"
            >
              <a class="dropdown-item cr logout">{{
                "navbar.Arabic" | translate
              }}</a>
            </li>
          </ul>
        </li>
        <li (click)="closeIteamModal()" class="nav-item p-0 socials">
          <ul class="d-flex justify-content-center align-items-center p-0">
            <li (click)="closeIteamModal()" class="mx-2">
              <a class="social"><i class="fs-5 fa-brands fa-instagram"></i></a>
            </li>
            <li (click)="closeIteamModal()" class="mx-2">
              <a class="social"><i class="fs-5 fa-brands fa-facebook"></i></a>
            </li>
            <li (click)="closeIteamModal()" class="mx-2">
              <a class="social"><i class="fs-5 fa-brands fa-whatsapp"></i></a>
            </li>
            <li (click)="closeIteamModal()" class="mx-2">
              <a class="social"><i class="fs-5 fa-brands fa-linkedin"></i></a>
            </li>
          </ul>
        </li>
        <li
          (click)="closeIteamModal()"
          (click)="clickedHeart()"
          class="nav-item"
        >
          <a
            class="nav-link position-relative"
            routerLinkActive="active-link"
            routerLink="/cart"
          >
            <i class="fa-solid fa-cart-plus cr fa-2xl"></i>
            <span class="badge position-absolute nav-top1 bg-orange">{{
              cartnumber
            }}</span>
          </a>
        </li>
        <li
          (click)="closeIteamModal()"
          (click)="clickedHeart()"
          class="nav-item socials"
        >
          <a
            class="nav-link position-relative px-3"
            routerLinkActive="active-link"
            routerLink="/wishlist"
          >
            <i class="fa-solid fa-heart fa-2xl"></i>
            <span class="badge position-absolute nav-top2 bg-orange">{{
              count
            }}</span></a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-user fa-xl"></i>
          </a>
          <ul class="dropdown-menu">
            @if (!VisiableAndHidden()) {
            <li (click)="closeIteamModal()">
              <a
                class="dropdown-item logout"
                routerLinkActive="active-link"
                routerLink="/SiginIn"
                >{{ "navbar.Login" | translate }}</a
              >
            </li>
            <li (click)="closeIteamModal()">
              <a
                class="dropdown-item logout"
                routerLinkActive="active-link"
                routerLink="/SiginUp"
                >{{ "navbar.Register" | translate }}</a
              >
            </li>
            } @if (VisiableAndHidden()) {
            <li>
              <a
                class="dropdown-item logout"
                (click)="closeIteamModal()"
                (click)="_AuthService.logout()"
                >{{ "navbar.SignOut" | translate }}</a
              >
            </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
