@if (setp==1) {
<section class="bg-main-subtle container width-info shadow p-3 rounded-4">
  <h1 class="text-center text-main text-decoration-underline">
    {{ "forget.forget password" | translate }}
  </h1>
  <!-- 1.forget password -->
  <form [formGroup]="verifyEmailform" (ngSubmit)="verifyEmailFunc()">
    <div class="my-2">
      <label for="email">{{ "login.email" | translate }}</label>
      <input
        [ngClass]="{ 
            'is-valid':!verifyEmailform.get('email')?.errors && (verifyEmailform.get('email')?.touched ||
            verifyEmailform.get('email')?.dirty),
            'is-invalid':verifyEmailform.get('email')?.errors && (verifyEmailform.get('email')?.touched ||
            verifyEmailform.get('email')?.dirty),
         }"
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
      />
      @if (verifyEmailform.get('email')?.errors &&
      (verifyEmailform.get('email')?.touched
      ||verifyEmailform.get('email')?.dirty)){
      <div class="alert alert-danger">
        @if (verifyEmailform.get('email')?.getError('required')) {
        <p class="m-0">{{ "login.email is required" | translate }}.</p>
        } @else if (verifyEmailform.get('email')?.getError('email')) {
        <p class="m-0">{{ "login.enter valid email" | translate }}.</p>
        }
      </div>
      }
    </div>
    <button
      class="btn-main d-block my-3"
      [class.ms-auto]="textlag()"
      [class.me-auto]="!textlag()"
      type="submit"
    >
      {{ "forget.send" | translate }} @if (isloading) {
      <span class="fas fa-spin fa-spinner"></span>}
    </button>
  </form>
  @if (forgetSuccessMessage) {
  <p class="text-center text-main alert alert-success w-75 mx-auto">
    {{ forgetSuccessMessage }}
  </p>
  } @if (forgetErrorMessage) {
  <p class="text-center text-main alert alert-danger w-100 mx-auto">
    {{ forgetErrorMessage }}
  </p>
  }
</section>
} @else if (setp==2) {
<section class="bg-main-subtle container width-info shadow p-3 rounded-4">
  <h1 class="text-center text-main text-decoration-underline">
    {{ "forget.verify Code" | translate }}
  </h1>
  <!-- 2.verifyCode send on email -->
  <form [formGroup]="verifyCodeform" (ngSubmit)="verifyCodeFunc()">
    <div class="my-2">
      <label for="resetcode">{{ "forget.reset code" | translate }}</label>
      <input
        [ngClass]="{ 
            'is-valid':!verifyCodeform.get('resetCode')?.errors && (verifyCodeform.get('resetCode')?.touched ||
            verifyCodeform.get('resetCode')?.dirty),
            'is-invalid':verifyCodeform.get('resetCode')?.errors && (verifyCodeform.get('resetCode')?.touched ||
            verifyCodeform.get('resetCode')?.dirty),
         }"
        id="resetcode"
        type="text"
        class="form-control"
        formControlName="resetCode"
      />
      @if (verifyCodeform.get('resetCode')?.errors &&
      (verifyCodeform.get('resetCode')?.touched
      ||verifyCodeform.get('resetCode')?.dirty)){
      <div class="alert alert-danger">
        @if (verifyCodeform.get('resetCode')?.getError('required')) {
        <p class="m-0">{{ "forget.resetCode is required" | translate }}.</p>
        } @else if (verifyCodeform.get('resetCode')?.getError('pattern')) {
        <p class="m-0">{{ "forget.enter valid resetCode" | translate }}.</p>
        }
      </div>
      }
    </div>
    <button
      class="btn-main d-block my-3"
      [class.ms-auto]="textlag()"
      [class.me-auto]="!textlag()"
      type="submit"
    >
      {{ "forget.send" | translate }} @if (isloading) {
      <span class="fas fa-spin fa-spinner"></span>}
    </button>
  </form>
  @if (codeSuccessMessage) {
  <p class="text-center text-main alert alert-success w-75 mx-auto">
    {{ codeSuccessMessage }}
  </p>
  } @if (codeErrorMessage) {
  <p class="text-center text-main alert alert-danger w-100 mx-auto">
    {{ codeErrorMessage }}
  </p>
  }
</section>
} @else if (setp==3) {
<section class="bg-main-subtle container width-info shadow p-3 rounded-4">
  <h1 class="text-center text-main text-decoration-underline">
    {{ "forget.reset new password" | translate }}
  </h1>
  <!-- 3.creat new password -->
  <form [formGroup]="resetpasswordform" (ngSubmit)="resetpasswordFunc()">
    <div class="my-2">
      <label for="email">{{ "login.email" | translate }}</label>
      <input
        readonly
        [ngClass]="{ 
          'is-valid':!resetpasswordform.get('email')?.errors && (resetpasswordform.get('email')?.touched ||
          resetpasswordform.get('email')?.dirty),
          'is-invalid':resetpasswordform.get('email')?.errors && (resetpasswordform.get('email')?.touched ||
          resetpasswordform.get('email')?.dirty),
       }"
        id="email"
        type="text"
        class="form-control"
        formControlName="email"
      />
      @if (resetpasswordform.get('email')?.errors &&
      (resetpasswordform.get('email')?.touched
      ||resetpasswordform.get('email')?.dirty)){
      <div class="alert alert-danger">
        @if (resetpasswordform.get('email')?.getError('required')) {
        <p class="m-0">{{ "login.email is required" | translate }}.</p>
        } @else if (resetpasswordform.get('email')?.getError('email')) {
        <p class="m-0">{{ "login.enter valid email" | translate }}.</p>
        }
      </div>
      }
    </div>
    <div class="my-2">
      <label for="newpassword">{{ "forget.new password" | translate }}</label>
      <input
        [ngClass]="{ 
          'is-valid':!resetpasswordform.get('newPassword')?.errors && (resetpasswordform.get('newPassword')?.touched ||
          resetpasswordform.get('newPassword')?.dirty),
          'is-invalid':resetpasswordform.get('newPassword')?.errors && (resetpasswordform.get('newPassword')?.touched ||
          resetpasswordform.get('newPassword')?.dirty),
       }"
        id="newpassword"
        type="password"
        class="form-control"
        formControlName="newPassword"
      />
      @if (resetpasswordform.get('newPassword')?.errors &&
      (resetpasswordform.get('newPassword')?.touched
      ||resetpasswordform.get('newPassword')?.dirty)){
      <div class="alert alert-danger">
        @if (resetpasswordform.get('newPassword')?.getError('required')) {
        <p class="m-0">{{ "login.password is required" | translate }}.</p>
        } @else if (resetpasswordform.get('newPassword')?.getError('pattern')) {
        <p class="m-0">{{ "login.enter valid password" | translate }}.</p>
        }
      </div>
      }
    </div>
    <button
      class="btn-main d-block my-3"
      [class.ms-auto]="textlag()"
      [class.me-auto]="!textlag()"
      type="submit"
    >
      {{ "forget.save" | translate }} @if (isloading) {
      <span class="fas fa-spin fa-spinner"></span>}
    </button>
  </form>
  @if (newpasSuccessMessage) {
  <p class="text-center text-main alert alert-success w-50 mx-auto">
    {{ newpasSuccessMessage }}
  </p>
  }
</section>
}
