@if (setp==1) {
<section class="bg-custome shadow p-3 my-2 rounded-4 my-3">
  <h1 class="text-center text-main text-decoration-underline">
    forget password
  </h1>
  <!-- 1.forget password -->
  <form [formGroup]="verifyEmailform" (ngSubmit)="verifyEmailFunc()">
    <div class="my-2">
      <label for="email">email</label>
      <input
        [ngClass]="{ 
            'is-valid':!verifyEmailform.get('email')?.errors && (verifyEmailform.get('email')?.touched ||
            verifyEmailform.get('email')?.dirty),
            'is-invalid':verifyEmailform.get('email')?.errors && (verifyEmailform.get('email')?.touched ||
            verifyEmailform.get('email')?.dirty),
         }"
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
      />
      @if (verifyEmailform.get('email')?.errors &&
      (verifyEmailform.get('email')?.touched
      ||verifyEmailform.get('email')?.dirty)){
      <div class="alert alert-danger">
        @if (verifyEmailform.get('email')?.getError('required')) {
        <p class="m-0">email is required.</p>
        } @else if (verifyEmailform.get('email')?.getError('email')) {
        <p class="m-0">enter valid email.</p>
        }
      </div>
      }
    </div>
    <button class="btn-main ms-auto d-block" type="submit">
      verify Email @if (isloading) {
      <span class="fas fa-spin fa-spinner"></span>}
    </button>
  </form>
  @if (forgetMessage) {
  <p class="text-center text-main alert alert-light w-50 mx-auto">
    {{ forgetMessage }}
  </p>
  }
</section>
} @else if (setp==2) {
<section class="bg-custome shadow p-3 my-2 rounded-4 my-3">
  <h1 class="text-center text-main text-decoration-underline">verify Code</h1>
  <!-- 2.verifyCode send on email -->
  <form [formGroup]="verifyCodeform" (ngSubmit)="verifyCodeFunc()">
    <div class="my-2">
      <label for="resetcode">reset code</label>
      <input
        [ngClass]="{ 
            'is-valid':!verifyCodeform.get('resetCode')?.errors && (verifyCodeform.get('resetCode')?.touched ||
            verifyCodeform.get('resetCode')?.dirty),
            'is-invalid':verifyCodeform.get('resetCode')?.errors && (verifyCodeform.get('resetCode')?.touched ||
            verifyCodeform.get('resetCode')?.dirty),
         }"
        id="resetcode"
        type="text"
        class="form-control"
        formControlName="resetCode"
      />
      @if (verifyCodeform.get('resetCode')?.errors &&
      (verifyCodeform.get('resetCode')?.touched
      ||verifyCodeform.get('resetCode')?.dirty)){
      <div class="alert alert-danger">
        @if (verifyCodeform.get('resetCode')?.getError('required')) {
        <p class="m-0">resetCode is required.</p>
        } @else if (verifyCodeform.get('resetCode')?.getError('resetCode')) {
        <p class="m-0">enter valid resetCode.</p>
        }
      </div>
      }
    </div>
    <button class="btn-main ms-auto d-block" type="submit">
      verify Code @if (isloading) {
      <span class="fas fa-spin fa-spinner"></span>}
    </button>
  </form>
  @if (codeMessage) {
  <p class="text-center text-main alert alert-light w-50 mx-auto">
    {{ codeMessage }}
  </p>
  }
</section>
} @else if (setp==3) {
<section class="bg-custome shadow p-3 my-2 rounded-4 my-3">
  <h1 class="text-center text-main text-decoration-underline">
    reset new password
  </h1>
  <!-- 3.creat new password -->
  <form [formGroup]="resetpasswordform" (ngSubmit)="resetpasswordFunc()">
    <div class="my-2">
      <label for="email">email</label>
      <input
        readonly
        [ngClass]="{ 
          'is-valid':!resetpasswordform.get('email')?.errors && (resetpasswordform.get('email')?.touched ||
          resetpasswordform.get('email')?.dirty),
          'is-invalid':resetpasswordform.get('email')?.errors && (resetpasswordform.get('email')?.touched ||
          resetpasswordform.get('email')?.dirty),
       }"
        id="email"
        type="text"
        class="form-control"
        formControlName="email"
      />
      @if (resetpasswordform.get('email')?.errors &&
      (resetpasswordform.get('email')?.touched
      ||resetpasswordform.get('email')?.dirty)){
      <div class="alert alert-danger">
        @if (resetpasswordform.get('email')?.getError('required')) {
        <p class="m-0">email is required.</p>
        } @else if (resetpasswordform.get('email')?.getError('email')) {
        <p class="m-0">enter valid email.</p>
        }
      </div>
      }
    </div>
    <div class="my-2">
      <label for="newpassword">new password</label>
      <input
        [ngClass]="{ 
          'is-valid':!resetpasswordform.get('newPassword')?.errors && (resetpasswordform.get('newPassword')?.touched ||
          resetpasswordform.get('newPassword')?.dirty),
          'is-invalid':resetpasswordform.get('newPassword')?.errors && (resetpasswordform.get('newPassword')?.touched ||
          resetpasswordform.get('newPassword')?.dirty),
       }"
        id="newpassword"
        type="password"
        class="form-control"
        formControlName="newPassword"
      />
      @if (resetpasswordform.get('newPassword')?.errors &&
      (resetpasswordform.get('newPassword')?.touched
      ||resetpasswordform.get('newPassword')?.dirty)){
      <div class="alert alert-danger">
        @if (resetpasswordform.get('newPassword')?.getError('required')) {
        <p class="m-0">password is required.</p>
        } @else if
        (resetpasswordform.get('newPassword')?.getError('newPassword')) {
        <p class="m-0">enter valid password.</p>
        }
      </div>
      }
    </div>
    <button class="btn-main ms-auto d-block" type="submit">
      reset Password @if (isloading) {
      <span class="fas fa-spin fa-spinner"></span>}
    </button>
  </form>
  @if (newpassMessage) {
  <p class="text-center text-main alert alert-light w-50 mx-auto">
    {{ newpassMessage }}
  </p>
  }
</section>
}
