<section class="mt-5 pt-5">
  <div class="bg-custome width-info mx-auto my-5 shadow p-3 my-5 rounded-5">
    <h1 class="h2 text-main text-decoration-underline">
      {{ "online.online payment" | translate }}:
    </h1>
    <form [formGroup]="orderForm" (ngSubmit)="orderFunc()">
      <div class="my-2">
        <label for="details">{{ "cash.details" | translate }}</label>
        <input
          [ngClass]="{ 
          'is-valid':!orderForm.get('details')?.errors && (orderForm.get('details')?.touched ||
          orderForm.get('details')?.dirty),
          'is-invalid':orderForm.get('details')?.errors && (orderForm.get('details')?.touched ||
          orderForm.get('details')?.dirty),
       }"
          id="details"
          type="text"
          class="form-control"
          formControlName="details"
        />
        @if (orderForm.get('details')?.errors &&
        (orderForm.get('details')?.touched ||orderForm.get('details')?.dirty)) {
        <div class="alert alert-danger">
          @if (orderForm.get('details')?.getError('required')) {
          <p class="m-0">{{ "cash.details is required" | translate }}.</p>
          }
        </div>
        }
      </div>
      <div class="my-2">
        <label for="phone">{{ "reg.phone" | translate }}</label>
        <input
          [ngClass]="{ 
          'is-valid':!orderForm.get('phone')?.errors && (orderForm.get('phone')?.touched ||
          orderForm.get('phone')?.dirty),
          'is-invalid':orderForm.get('phone')?.errors && (orderForm.get('phone')?.touched ||
          orderForm.get('phone')?.dirty),
       }"
          id="phone"
          type="tel"
          class="form-control"
          formControlName="phone"
        />
        @if (orderForm.get('phone')?.errors && (orderForm.get('phone')?.touched
        ||orderForm.get('phone')?.dirty)){
        <div class="alert alert-danger">
          @if (orderForm.get('phone')?.getError('required')) {
          <p class="m-0">{{ "reg.phone is required" | translate }}.</p>
          } @else if (orderForm.get('phone')?.getError('pattern')) {
          <p class="m-0">{{ "reg.enter valid phone" | translate }}.</p>
          }
        </div>
        }
      </div>
      <div class="my-2">
        <label for="city">{{ "cash.city" | translate }}</label>
        <input
          [ngClass]="{ 
          'is-valid':!orderForm.get('city')?.errors && (orderForm.get('city')?.touched ||
          orderForm.get('city')?.dirty),
          'is-invalid':orderForm.get('city')?.errors && (orderForm.get('city')?.touched ||
          orderForm.get('city')?.dirty),
       }"
          id="city"
          type="text"
          class="form-control"
          formControlName="city"
        />
        @if (orderForm.get('city')?.errors && (orderForm.get('city')?.touched
        ||orderForm.get('city')?.dirty)) {
        <div class="alert alert-danger">
          @if (orderForm.get('city')?.getError('required')) {
          <p class="m-0">{{ "cash.city is required" | translate }}.</p>
          }
        </div>
        }
      </div>
      <button
        (click)="orderFunc()"
        [class.ms-auto]="textlag()"
        [class.me-auto]="!textlag()"
        class="btn-main d-block"
        type="submit"
      >
        {{ "cash.order now" | translate }} @if (isloading) {
        <span class="fas fa-spin fa-spinner"></span>}
      </button>
    </form>
    @if (messgsuc) {
    <p class="text-center alert alert-success w-50 mx-auto my-3">
      {{ messgsuc }}
    </p>
    } @if (messgerr) {
    <p class="text-center alert alert-danger w-100 mx-auto my-3">
      {{ messgerr }}
    </p>
    }
  </div>
</section>
