.image {
    border-radius: 5px;
    border-bottom: solid 1px var(--main-color);
    transition: box-shadow 0.5s;
    overflow: hidden;
  }
  .block:hover .image{
    box-shadow: 0 0 50px var(--main-color);
  }