@if (categData) {
<section class="container-fluid py-5 my-5">
  <h2 class="text-main text-decoration-underline my-3 ms-5 pt-5">
    {{ "cates.All Categories" | translate }}
  </h2>
  <div class="row g-3">
    @for (category of categData; track category._id) {

    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
      <div
        [routerLink]="['/category', category._id]"
        class="item border border-dark rounded-3 h-100 block"
      >
        <img
          class="w-100 rounded-3 image"
          height="300px"
          src="{{ category.image }}"
          alt="{{ category.name }}"
        />
        <h3 class="mt-3 text-center h5 text-orange-emphasis">
          {{ category.name }}
        </h3>
      </div>
    </div>
    }
  </div>
</section>

}
